@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #e7c3ac;


}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../assets/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../assets/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/Roboto-Bold.ttf");
}
